<div class="base-container">
    <img id="logo" src="./images/logo.svg" style="width: 5em;">

    <div id="text-container" class="welcome">
        <h1 class="welcome">Witaj!</h1>

        <p class="welcome">Dołącz do naszej społeczności<br/>
            i zadbaj o świadomość jakości powietrza.
        </p>
        <div class="button-container">
            <a href="register" class="logButton">
                Utwórz konto
            </a>
            <a href="login" class="logButton">
                Zaloguj się
            </a>
        </div>
    </div>
</div>
