<div class="base-container">
    <img id="logo" src="./images/logo.svg" style="width: 5em;">

    <form class="login" action="login" method="POST">
        <div id="text-container"  class="login">
            <div class="input-container">
                <p class="login">E-mail</p>
                <input name="email" type="text" placeholder="">
            </div>

            <div class="input-container">
                <p class="login">Hasło</p>
                <input name="password" type="password" placeholder="">
            </div>

            <button type="submit" class="logButton">Zaloguj</button>
        </div>
    </form>
</div>
