<nav>
    <a href="main">
        <img id="logo" src="./images/logo.svg" style="width: 5em;">
    </a>
    <a href="main">
        <div class="icon-nav-container">
            <i class="fas fa-map-marker-alt" style="font-size: 3em;"></i>
        </div>
    </a>
    <a href="statistics">
        <div class="icon-nav-container">
            <i class="fas fa-chart-area" style="font-size: 3em;"></i>
        </div>
    </a>
    <a href="settings">
        <div class="icon-nav-container">
            <i class="fas fa-cog" style="font-size: 3em;"></i>
        </div>
    </a>
    <a href="index">
        <div class="icon-nav-container">
            <i class="fas fa-sign-out-alt" style="font-size: 3em;"></i>
        </div>
    </a>
</nav>
<br/>
<img id="map" src="./images/mapa.png"  style="width: 450px;">
