<div class="base-container">
    <img id="logo" src="../images/logo.svg" style="width: 5em;">

    <form class="register" action="register" method="POST">
        <div id="text-container"  class="register">
            <div class="input-container">
                <p class="register">Imię</p>
                <input name="name" type="text" placeholder="">
            </div>

            <div class="input-container">
                <p class="register">Nazwisko</p>
                <input name="surname" type="text" placeholder="">
            </div>

            <div class="input-container">
                <p class="register">E-mail</p>
                <input name="email" type="text" placeholder="">
            </div>
            <div class="input-container">
                <p class="register">Hasło</p>
                <input name="pass" type="password" placeholder="">
            </div>

            <div class="input-container">
                <p class="register">Powtórz hasło</p>
                <input name="passConf" type="password" placeholder="">
            </div>

            <button type="submit" class="regButton">Zarejestruj</button>
        </div>
    </form>
</div>
