<nav>
    <a href="main">
        <img id="logo" src="./images/logo.svg" style="width: 5em;">
    </a>
    <a href="main">
        <div class="icon-nav-container">
            <i class="fas fa-map-marker-alt" style="font-size: 3em;"></i>
        </div>
    </a>
    <a href="statistics">
        <div class="icon-nav-container">
            <i class="fas fa-chart-area" style="font-size: 3em;"></i>
        </div>
    </a>
    <a href="settings">
        <div class="icon-nav-container">
            <i class="fas fa-cog" style="font-size: 3em;"></i>
        </div>
    </a>
    <a href="index">
        <div class="icon-nav-container">
            <i class="fas fa-sign-out-alt" style="font-size: 3em;"></i>
        </div>
    </a>
</nav>
<br/>
<form class="add" action="settings" method="POST">
    <div id="text-container"  class="login">
        <div class="input-container">
            <p class="addDevice">Numer urządzenia</p>
            <input name="ID" type="text" placeholder="">
        </div>
        <button type="submit" class="addButton">Dodaj urządzenie</button>
    </div>
</form>
<p>
    Wybierz urządzenie do edycji:
    <select>
        <option>Dom</option>
        <option>Praca</option>
    </select>
</p>
<form class="set" action="settings" method="POST">
    <div id="text-container"  class="login">
        <div class="input-container">
            <p class="setDevice">Nazwa urządzenia</p>
            <input name="name" type="text" placeholder="Dom">
        </div>
        <div class="input-container">
            <p class="setDevice">Adres urządzenia</p>
            <input name="adress" type="text" placeholder="Słoneczna 36, 32-052 Radziszów">
        </div>
        <input type="checkbox" id="share" name="share" value="share">
        <label for="share">Udostępnij dane na mapie</label><br>
        <button type="submit" class="addButton">Zapisz</button>
    </div>
</form>