<nav>
    <a href="main">
        <img id="logo" src="./images/logo.svg" style="width: 5em;">
    </a>
    <a href="main">
        <div class="icon-nav-container">
            <i class="fas fa-map-marker-alt" style="font-size: 3em;"></i>
        </div>
    </a>
    <a href="statistics">
        <div class="icon-nav-container">
            <i class="fas fa-chart-area" style="font-size: 3em;"></i>
        </div>
    </a>
    <a href="settings">
        <div class="icon-nav-container">
            <i class="fas fa-cog" style="font-size: 3em;"></i>
        </div>
    </a>
    <a href="index">
        <div class="icon-nav-container">
            <i class="fas fa-sign-out-alt" style="font-size: 3em;"></i>
        </div>
    </a>
</nav>
<br/>
<p><i class="fas fa-battery-three-quarters" style="font-size: 2em;"></i><b> 3,6V</b></p>
<select>
    <option>Dom</option>
    <option>Praca</option>
</select>
<br/>
<img id="stat1" src="./images/stat1.png" style="width: 200px;">
<br/>
<img id="stat2" src="./images/stat2.png" style="width: 200px;">
<img id="graph" src="./images/graph.png" style="width: 450px;">
