#root{
    height: 94vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;    
}

#logoNav{
    margin-top: 1em;
    width: 98%;
    height: auto;
}

nav{
    width: 6%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: #c7e6c47e 0% 0% no-repeat padding-box;
    border: 1px solid #c7e6c4;
    border-radius: 0px 0px 40px 40px;
    /*opacity: 0.4;*/
}

#up{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: start;
}

#down{
    width:100%;
    margin-bottom: 1em;
}

.icon-nav-container{
    width: 95%;
    height: 70%;

    margin: 2em 0em;
    display: flex;
    justify-items: center;
    align-items: center;
    /*justify-content: start;
    
    border-radius: 0px 0px 15px 15px;

    display: flex;
    align-items: center;
    justify-items: center;*/
}

.icon-nav-container>i{
    color: black;
    margin: auto auto;
    font-size: 2.5em;
}

a{
    text-decoration: none;
}

/*main.html*/

#mapid{
    width: 94%;
    height: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leaflet-container{
    width: 60%;
    height: 60%;
}

.lazyload-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* statistics.html */
/* settings.html */
.content-container{
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
}

.choice-device-container{

    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
}

.data-container, .form-container{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
}

.stat-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
}

.settings-container{
    width: 94%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
}

#empty{
    width:6%;
    height: 10%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 5em;
}

.input-container{
    width: 70%;
    height: 35%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.select-device{
    width: 70%;
    text-align: center;
}
select{
    margin-left: 2em;
    width: 30%;
    background: #FFFCD9 0% 0% no-repeat padding-box;
    border: 2px solid #9B9849;
}

select.stat{
    width:10%;
}

input{
    width:100%;
    height: 2em;

    background: #FFFCD9 0% 0% no-repeat padding-box;
    border: 2px solid #9B9849;
    border-radius: 10px;
}

#shared{
    width:1.5em;
}

button{
    width: 40%;
    padding: 0.5em 1em;
    margin-top: 1em;
    background: #75AE74;
    border-radius: 1em;
}