#root{
    margin: 0;
    height: 100vh;
}

.base-container{
    background: #c7e6c4;;

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#text-container{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 2em;

    width: 40%;
    height: 30%;
}

#text-container.login{
    height: 35%;
}

#text-container.register{
    height: 65%;
    justify-content: space-evenly;
}

#button-container.welcome{
    margin: 0 0 1em 0;

    height: 9%;
    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#form.login, #form.register{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logButton{
    padding: 0.5em 1em;
    background: #75AE74;
    border-radius: 1em;
}

button{
    padding: 0.5em 1em;
    margin-top: 1em;
    background: #75AE74;
    border-radius: 1em;
}

a.logButton{
    text-decoration: none;
    color: black;
}

#logo{
    width: 12%;
    height: auto;
    margin-bottom: 1em;
    margin-top: 1em;
}

h1.welcome{
    text-align: center;
    margin: 0;
}

.red{
    color: red;
    font-size: 15px;
    text-decoration-line: underline;
}

#empty{
    height: 10%;
}

p{
    margin-top: 1em;
    margin-bottom: 0.1em;
}