<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <script src="https://kit.fontawesome.com/9c599db111.js" crossorigin="anonymous"></script>
</head>
<body>
{{{ body }}}
</body>
</html>