<nav>
    <a href="main">
        <img id="logo" src="">
    </a>
    <a href="main">
        <div class="icon-nav-container">
            <i class="fas fa-map-marker-alt"></i>
        </div>
    </a>
    <a href="statistics">
        <div class="icon-nav-container">
            <i class="fas fa-chart-area"></i>
        </div>
    </a>
    <a href="settings">
        <div class="icon-nav-container">
            <i class="fas fa-cog"></i>
        </div>
    </a>
    <a href="index">
        <div class="icon-nav-container">
            <i class="fas fa-sign-out-alt"></i>
        </div>
    </a>
</nav>